/* App.css */

/* Réinitialisation des styles par défaut du navigateur */
body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Définit la police de caractères par défaut */
  margin: 0; /* Supprime les marges extérieures par défaut */
  padding: 0; /* Supprime les marges intérieures par défaut */
  background-color: rgb(102, 133, 163);
}

/* Container principal de l'application */
.App {
  display: flex; /* Utilise un modèle d'affichage flexbox pour organiser les éléments en ligne */
  flex-direction: column; /* Organise les éléments en colonne */
  min-height: 100vh; /* Définit la hauteur minimale de la vue à 100% de la hauteur de l'écran */
}


/* Style du header */
header {
  background-color: #000; /* Couleur de fond gris foncé */
  color: white; /* Couleur du texte blanc */
  text-align: center; /* Centre le texte horizontalement */
  padding: 1rem 0; /* Ajoute un espace de 1rem en haut et en bas du header */
}

/* Style du contenu du header */
.header__content {
  max-width: 800px; /* Largeur maximale du contenu */
  margin: 0 auto; /* Centre le contenu horizontalement */
}

/* Style du titre du header */
.header__title {
  font-size: 2rem; /* Taille de la police 2rem */
  font-weight: bold; /* Police en gras */
  color: #333; /* Couleur du texte gris foncé */
}

/* Style du texte défilant du header */
.header__scroll-text {
  overflow: hidden; /* Cache le contenu débordant */
  height: 40px; /* Hauteur fixe de 40px */
}

/* Style des éléments span dans le texte défilant */
.header__scroll-text span {
  display: block; /* Affiche en tant que bloc */
  height: 40px; /* Hauteur fixe de 40px */
  line-height: 40px; /* Hauteur de ligne égale à la hauteur du conteneur */
  animation: scroll 10s linear infinite; /* Animation de défilement */
}

/* Animation de défilement */
@keyframes scroll {
  0% {
    transform: translateY(0); /* Déplacement initial */
  }
  100% {
    transform: translateY(-120px); /* Déplacement final */
  }
}

/* Style du footer */
footer {
  background-color: #000; /* Couleur de fond gris foncé */
  color: white; /* Couleur du texte blanc */
  text-align: center; /* Centre le texte horizontalement */
  padding: 1rem 0; /* Ajoute un espace de 1rem en haut et en bas du footer */
  margin-top: auto; /* Place le footer en bas de la page en cas de contenu insuffisant */
}

/* Style des liens dans le footer */
.footer-link {
  display: inline-block; /* Affiche les liens en ligne */
  margin: 0 10px; /* Ajoute de l'espace entre les liens */
}

/* Style des liens au survol dans le footer */
.footer-link a {
  color: white; /* Couleur du texte blanc pour les liens */
  text-decoration: none; /* Supprime la soulignement des liens */
}

/* Style des liens au survol dans le footer */
.footer-link a:hover {
  text-decoration: underline; /* Souligne les liens au survol */
}
