/* Footer.css */

footer {
    grid-row: 2; /* Le footer est sur la deuxième ligne de la grille */
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  /* Style des liens dans le footer */
  .footer-link {
    display: inline-block; /* Affiche les liens en ligne */
    margin: 0 10px; /* Ajoute de l'espace entre les liens */
  }
  
  /* Style des liens au survol dans le footer */
  .footer-link a {
    color: white; /* Couleur du texte blanc pour les liens */
    text-decoration: none; /* Supprime la soulignement des liens */
  }
  
  /* Style des liens au survol dans le footer */
  .footer-link a:hover {
    text-decoration: underline; /* Souligne les liens au survol */
  }
  